[Desktop Entry]
Type=Application
TryExec=alacritty
Exec=sh -c "env WINIT_HIDPI_FACTOR=1.0 env WAYLAND_DISPLAY= alacritty"
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;

Name=Alacritty
GenericName=Terminal
Comment=A cross-platform, GPU enhanced terminal emulator
StartupWMClass=Alacritty
Actions=New;

[Desktop Action New]
Name=New Terminal
; LC_CTYPE=en_US.UTF-8: Fixes "xkbcommon: ERROR: Couldn't read Compose file /usr/share/X11/locale/"
; WINIT_HIDPI_FACTOR=1.0: Scaling issues in/since v0.2.9
; WAYLAND_DISPLAY=: Wayland compatibility
Exec="sh -c env LC_CTYPE=en_US.UTF-8 env WINIT_HIDPI_FACTOR=1.0 env WAYLAND_DISPLAY= alacritty"
